// .main-page{ height:100vh; margin:0; }

// navBar1{ min-height:50px;  }
// footer1{ min-height:50px;  }

// /* Trick */
// .main-page{ 
//   display:flex; 
//   flex-direction:column; 
// }

// footer1{
//   margin-top:auto; 
// }